body {
    /*padding-top: 20px;*/
    background-image: linear-gradient(to right, #0f768a, #18779b, #399edc, rgb(128, 177, 234));
}
.header {

    height: 7rem;
    color: floralwhite;
    font-weight: bold;
    font-family: "Freestyle Script";

}
.header h1 {
    margin: 0;
    font-size: 100px!important;
}
#detailsPerson{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
#leftDetailsPerson{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width: 50%;
}
#leftDetailsPerson>img{
    width:50%;
    height:50%;
}

#leftDetailsPerson>div{
    width:100%
}
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#personInfo{
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right, rgba(255, 255, 224, 0.28), rgba(255, 255, 153, 0.26), rgba(255, 255, 102, 0.28), rgba(255, 255, 51, 0.28));
    border: 2px saddlebrown solid;
    text-align: start;
    font-size: larger;
}
#personInfo>span{
    font-size: x-large;
    color: #3f0256;
}
#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buttons>div>a{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}
#buttons>div>a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
#buttons>div>a:active {
    background-color: #004085; /* Even darker background on active */
    border-color: #004085; /* Even darker border on active */
}
#buttons>div>a:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.table thead th {
    background-color: #007bff;
    color: white;
}
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.btn-back {
    background-color: #007bff;
    color: white;
    border: none;
}
.btn-back:hover {
    background-color: #0056b3;
}
.ecg-chart-container {
    margin-top: 20px;
}
.form-container {
    padding-right: 7.5rem;


    border-radius: 10px; /* Rounded corners for form */

}

.form-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff; /* Text color */
    background-color: #dc3545; /* Background color */
    /*border: 2px solid #dc3545; !* Border color *!*/
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.6s, border-color 0.6s; /* Smooth transitions */
}

.form-container button:hover {
    background-color: #a90c1d; /* Darker background on hover */
    border-color: #c82333; /* Darker border on hover */
}

.form-container button:active {
    background-color: #bd2130; /* Even darker background on active */
    border-color: #bd2130; /* Even darker border on active */
}

.form-container button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.5); /* Custom focus outline */
}
#detailsVitals{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#detailsVitals>div>h1{
    background-image: linear-gradient(45deg, #bdbd46, #e3e38e, #c4be40, rgb(248, 238, 142), lightgoldenrodyellow);
    text-align: center;
    color: #131380;
    font-weight: bold;
    font-family: "Freestyle Script";
}
#detailsVitals>div{
    width: 35%;
}
.celina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prv{
    border: #3f0256 2px solid;
    background-color: white;
    margin-left: 3rem;
    border-radius: 15px;
    font-size: x-large;
    /*padding-left: 1rem;*/
}
.vtor{
    border: #3f0256 2px solid;
    background-color: white;
    margin-right: 6rem;
    border-radius: 15px;
    font-size: x-large;
}
.vtor>div{
    padding-left: 3rem;
}