<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>
    <link rel="stylesheet" type="text/css" href="/css/addCss.css">
</head>
<body>
<h2>Add Patient</h2>
<form action="/addPatient" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname" required><br><br>

    <label for="dateOfBirth">Date of Birth:</label><br>
    <input type="date" id="dateOfBirth" name="dateOfBirth" required><br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" required><br><br>

    <label for="gender">Gender:</label><br>
    <input type="text" id="gender" name="gender" required><br><br>

    <label for="embg">EMBG:</label><br>
    <input type="text" id="embg" name="embg" required><br><br>

    <input type="submit" value="Add Patient">
</form>
</body>
</html>
