<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            padding-top: 20px;
            background-color: #f8f9fa;
        }
        .header {
            background-color: #007bff;
            color: white;
            padding: 20px 0;
        }
        .header h1 {
            margin: 0;
        }
        .card {
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .table thead th {
            background-color: #007bff;
            color: white;
        }
        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .btn-back {
            background-color: #007bff;
            color: white;
            border: none;
        }
        .btn-back:hover {
            background-color: #0056b3;
        }
        .ecg-chart-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<!-- Header -->
<div class="header text-center">
    <h1>Patient Details</h1>
</div>

<div class="container mt-4">
    <div class="row">
    <div class="card mb-4 col-6">
        <div class="card-body">
            <h4 class="card-title mb-3">Patient Information</h4>
            <p><strong>Name:</strong> <span th:text="${patient.name}"></span></p>
            <p><strong>Surname:</strong> <span th:text="${patient.surname}"></span></p>
            <p><strong>Date of Birth:</strong> <span th:text="${patient.dateOfBirth}"></span></p>
            <p><strong>Gender:</strong> <span th:text="${patient.gender}"></span></p>
            <p><strong>Age:</strong> <span th:text="${patient.age}"></span></p>
        </div>
    </div>
    <div class="col-6">
        <h1>Live Monitoring</h1>
        <!--ECG grafikot ovde -->
    </div>
    </div>
    <div>
        <a th:href="@{'patients/edit-patient/{id}' (id=${patient.getId()})}">Edit</a>
    </div>
    <div>
        <form th:action="@{'/patients/delete-patient/' + ${patient.getId()}}" th:method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
        </form>
    </div>
    </div>
<a href="/patients" class="btn btn-back mt-4">Back to Patients</a>
    <!-- Vitals Records -->
    <!--<h2 class="mb-4">Vitals Records</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>Pulse</th>
                <th>Respiration Rate</th>
                <th>Systolic</th>
                <th>Diastolic</th>
                <th>ECG</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vital, iterStat : ${vitalsRecords}">
                <td th:text="${vital.time}"></td>
                <td th:text="${vital.temperature}"></td>
                <td th:text="${vital.pulse}"></td>
                <td th:text="${vital.respirationRate}"></td>
                <td th:text="${vital.systolic}"></td>
                <td th:text="${vital.diastolic}"></td>
                <td>
                    <div class="ecg-chart-container">
                        <canvas th:id="'ecg-chart-' + ${iterStat.index}"></canvas>
                    </div>
                    <input type="hidden" th:id="'ecg-data-' + ${iterStat.index}" th:value="${vital.ecgString}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Vital Parameters</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6">BP</div>
                </div>
                <div class="row">
                    <div class="col-6"><p th:text="${vitalsRecords.getSystolic()}"></p><p th:text="${vitalsRecords.getDiastolic()}"></p></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">HR</div>
                </div>
                <div class="row">
                    <div class="col-6"><p th:text="${vitalsRecords.getPulse()}"></p></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">SpO2</div>
                </div>
                <div class="row">
                    <div class="col-6"><p th:text="${vitalsRecords.getSaturation()}"></p></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">RR</div>
                </div>
                <div class="row">
                    <div class="col-6"><p th:text="${vitalsRecords.getRespirationRate()}"></p></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">Tmp</div>
                </div>
                <div class="row">
                    <div class="col-6"><p th:text="${vitalsRecords.getTemperature()}"></p></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1>Health status</h1>
            <div class="container">
                <div id="sys-chart">
                    <img id="systolic-chart" src="" alt="BP Chart">
                </div>
            </div>
            <div class="container">
            <div id="chart">
                <img id="temperature-chart" src="" alt="Temperature Chart">
            </div>
            </div>
            <div class="container">
            <div id="sat-chart">
                <img id="saturation-chart" src="" alt="Saturation Chart">
            </div>
            </div>
            <div class="container">
                <div id="respiration-chart">
                    <img id="respiration-rate-chart" src="" alt="Respiration Rate Chart">
                </div>
            </div>
            <div class="container">
                <div id="pulse-chart">
                    <img id="pulse-rate-chart" src="" alt="Pulse Rate Chart">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <!--script for plotting the ecg signals-->
    document.addEventListener("DOMContentLoaded", function () {
        const ecgContainers = document.querySelectorAll(".ecg-chart-container");

        ecgContainers.forEach((container, index) => {
            const ecgDataInput = document.getElementById(`ecg-data-${index}`);
            const ecgData = ecgDataInput.value.split(',').map(Number);

            const ctx = document.getElementById(`ecg-chart-${index}`).getContext('2d');

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ecgData.map((_, i) => i),
                    datasets: [{
                        label: 'ECG',
                        data: ecgData,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom'
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    });
    async function fetchTemperatureData(patientId) {
        const response = await fetch(`/getTemperatureByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchSaturationData(patientId) {
        const response = await fetch(`/getSaturationByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchRespirationRateData(patientId) {
        const response = await fetch(`/getRespirationRateByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchPulseData(patientId) {
        const response = await fetch(`/getPulseByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchSystolicData(patientId) {
        const response = await fetch(`/getSystolicByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchTemperatureChart(){
        const temperatureData = await fetchTemperatureData(patientId);
        const response = await fetch('http://localhost:5000/analyze_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(temperatureData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('temperature-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchSystolicChart(){
        const systolicData = await fetchSystolicData(patientId);
        const response = await fetch('http://localhost:5000/analyze_systolic', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(systolicData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('systolic-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchSaturationChart(){
        const saturationData = await fetchSaturationData(patientId);
        const response = await fetch('http://localhost:5000/analyze_saturation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(saturationData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('saturation-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchRespirationRateChart(){
        const respirationRateData = await fetchRespirationRateData(patientId);
        const response = await fetch('http://localhost:5000/analyze_respiration_rate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(respirationRateData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('respiration-rate-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchPulseChart(){
        const pulseData = await fetchPulseData(patientId);
        const response = await fetch('http://localhost:5000/analyze_pulse', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pulseData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('pulse-rate-chart').src = 'data:image/png;base64,' + result.image;
    }
    const patientId = /*[[${patient.getId()}]]*/ '1';
    fetchTemperatureChart(patientId);
    fetchSaturationChart(patientId);
    fetchRespirationRateChart();
    fetchPulseChart();
    fetchSystolicChart();
</script>
</body>
</html>
