<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
        body {
            background-color: #f0f8ff;
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #3f0256;
            color: white;
            padding: 20px 0;
            margin-bottom: 20px;
        }
        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .vital-sign {
            text-align: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .vital-sign h3 {
            margin: 0;
            color: #3f0256;
        }
        .chart-container {
            height: 200px;
            margin-bottom: 20px;
        }
        #buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        #buttons a, #buttons button {
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
        #buttons a {
            background-color: #007BFF;
        }
        #buttons button {
            background-color: #dc3545;
            border: none;
        }
    </style>
</head>
<body>
<div class="header text-center">
    <h1>Patient Details</h1>
    <a href="/patients" class="btn btn-back mt-4" style="margin-top: 2rem;margin-bottom: 2rem;margin-left: 1rem">Back to Patients</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Patient Information</h4>
                    <p><strong>Name:</strong> <span th:text="${patient.name}" style="color: #3f0256;font-weight: bold"></span></p>
                    <p><strong>Surname:</strong> <span th:text="${patient.surname}" style="color: #3f0256;font-weight: bold"></span></p>
                    <p><strong>Date of Birth:</strong> <span th:text="${patient.dateOfBirth}" style="color: #3f0256;font-weight: bold"></span></p>
                    <p><strong>Gender:</strong> <span th:text="${patient.gender}" style="color: #3f0256;font-weight: bold"></span></p>
                    <p><strong>Age:</strong> <span th:text="${patient.age}" style="color: #3f0256;font-weight: bold"></span></p>
                </div>
            </div>
            <div id="buttons">
                <a th:href="@{/patients/edit-patient/{id}(id=${patient.id})}" class="btn btn-primary">Edit</a>
                <form th:action="@{'/patients/delete-patient/' + ${patient.getId()}}" th:method="POST" class="form-container">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Live Monitoring</h4>
<!--                    <div id="">-->
<!--                        <img id="ecg-chart" src="" alt="Ecg Chart">-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Vital Parameters</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="vital-sign">
                                <h3>BP</h3>
                                <p><span id="systolic" th:text="${vitalsRecords.getSystolic()}"></span>/<span id="diastolic" th:text="${vitalsRecords.getDiastolic()}"></span> mmHg</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="vital-sign">
                                <h3>HR</h3>
                                <p><span id="pulse" th:text="${vitalsRecords.getPulse()}"></span> bpm</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="vital-sign">
                                <h3>SpO2</h3>
                                <p><span id="saturation" th:text="${vitalsRecords.getSaturation()}"></span>%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="vital-sign">
                                <h3>RR</h3>
                                <p><span id="respiration" th:text="${vitalsRecords.getRespirationRate()}"></span> bpm</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="vital-sign">
                                <h3>Tmp</h3>
                                <p><span id="temperature" th:text="${vitalsRecords.getTemperature()}"></span>°C</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Health Status</h4>
                    <div class="chart-container">
                        <canvas id="healthStatusChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Vital Parameters</h4>
                    <div id="">
                        <img id="ecg-chart" src="" alt="Ecg Chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Health Status</h4>
                    <div id="sys-chart">
                        <img id="systolic-chart" src="" alt="BP Chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Vital Parameters</h4>
                    <div id="chart">
                        <img id="temperature-chart" src="" alt="Temperature Chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="color: #3f0256;font-weight: bold">Health Status</h4>
                    <div id="sat-chart">
                        <img id="saturation-chart" src="" alt="Saturation Chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const patientId = /*[[${patient.getId()}]]*/ '1';

    // ECG Chart
    // const ecgCtx = document.getElementById('ecg-chart').getContext('2d');
    // const ecgChart = new Chart(ecgCtx, {
    //     type: 'line',
    //     data: {
    //         labels: Array(100).fill(''),
    //         datasets: [{
    //             data: Array(100).fill(0),
    //             borderColor: 'rgb(75, 192, 192)',
    //             tension: 0.1
    //         }]
    //     },
    //     options: {
    //         responsive: true,
    //         maintainAspectRatio: false,
    //         scales: {
    //             x: { display: false },
    //             y: { display: false }
    //         },
    //         plugins: { legend: { display: false } }
    //     }
    // });

    // Health Status Chart
    const healthStatusCtx = document.getElementById('healthStatusChart').getContext('2d');
    const healthStatusChart = new Chart(healthStatusCtx, {
        type: 'doughnut',
        data: {
            labels: ['Normal', 'Warning', 'Critical'],
            datasets: [{
                data: [70, 20, 10],
                backgroundColor: ['#4CAF50', '#FFC107', '#F44336']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: { legend: { position: 'right' } }
        }
    });

    async function fetchTemperatureData(patientId) {
        const response = await fetch(`/getTemperatureByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchSaturationData(patientId) {
        const response = await fetch(`/getSaturationByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchRespirationRateData(patientId) {
        const response = await fetch(`/getRespirationRateByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchPulseData(patientId) {
        const response = await fetch(`/getPulseByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchSystolicData(patientId) {
        const response = await fetch(`/getSystolicByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchECGData(patientId) {
        const response = await fetch(`/getEcgByPatientId/${patientId}`);
        return await response.json();
    }
    async function fetchTemperatureChart(){
        const temperatureData = await fetchTemperatureData(patientId);
        const response = await fetch('http://localhost:5000/analyze_temperature', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(temperatureData)
        });
        const result = await response.json();
        document.getElementById('temperature-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchSystolicChart(){
        const systolicData = await fetchSystolicData(patientId);
        const response = await fetch('http://localhost:5000/analyze_systolic', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(systolicData)
        });
        const result = await response.json();
        document.getElementById('systolic-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchSaturationChart(){
        const saturationData = await fetchSaturationData(patientId);
        const response = await fetch('http://localhost:5000/analyze_saturation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(saturationData)
        });
        const result = await response.json();
        console.log(result);
        document.getElementById('saturation-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchRespirationRateChart(){
        const respirationRateData = await fetchRespirationRateData(patientId);
        const response = await fetch('http://localhost:5000/analyze_respiration_rate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(respirationRateData)
        });
        const result = await response.json();
        document.getElementById('respiration-rate-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchPulseChart(){
        const pulseData = await fetchPulseData(patientId);
        const response = await fetch('http://localhost:5000/analyze_pulse', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pulseData)
        });
        const result = await response.json();
        document.getElementById('pulse-rate-chart').src = 'data:image/png;base64,' + result.image;
    }
    async function fetchECGChart(patientId){
        const ecgData = await fetchECGData(patientId);
        const response = await fetch(`http://localhost:5000/analyze_ecg/${patientId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ecgData)
        });
        if (response.ok) {
            const result = await response.json();
            console.log(result);
            document.getElementById('ecg-chart').src = 'data:image/png;base64,' + result.image;
        } else {
            console.error('Error fetching ECG chart:', response.statusText);
        }
    }
    fetchTemperatureChart(patientId);
    fetchSaturationChart(patientId);
    fetchRespirationRateChart();
    fetchPulseChart();
    fetchECGChart(patientId);
    fetchSystolicChart();
    document.addEventListener("DOMContentLoaded", function() {
        console.log("Adding socket")
        var socket = new SockJS('http://localhost:8080/ws', {transports: ['websocket']});
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/topic/vitals', function(message) {
                console.log('Received message: ' + message.body);
                var vitalRecord = JSON.parse(message.body);
                updateVitalRecord(vitalRecord);
            });
        }, function(error){
            console.error("Error during Stomp connection", error)
        });

        function updateVitalRecord(vitalRecord) {
            document.getElementById("temperature").innerText = vitalRecord.temperature;
            document.getElementById("pulse").innerText = vitalRecord.pulse;
            document.getElementById("respiration").innerText = vitalRecord.respirationRate;
            document.getElementById("systolic").innerText = vitalRecord.systolic;
            document.getElementById("diastolic").innerText = vitalRecord.diastolic;
            // document.getElementById("ecgString").innerText = vitalRecord.ecgString;
            // document.getElementById("time").innerText = vitalRecord.time;
            document.getElementById("saturation").innerText = vitalRecord.saturation;
        }
    });
</script>
</body>
</html>